

body {
}

.library-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.section {
  margin-top: 20px;
}

.section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;


  margin: 20px; 
}

.card {
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-content p {
  margin: 5px 0;
  font-size: 16px;
}

.metamask-logo {
  width: 34px; 
  height: 34px; 
  margin-right: 8px; 
}
.book-info {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.book-details {
  margin-left: 20px; 
  text-align: left; 
}

.extra-details {
  display: flex;
  justify-content: space-between; 
  margin-top: 40px;
}

.left-column {
  flex-grow: 3;
  text-align: left; 
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.details-content {
  margin-top: 10px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.image-section {
  margin-right: 20px;
}


.book-photo {
  width: 100px; 
  height: auto; 

}


.book-details > * {
  margin-bottom: 5px; 
}

.action {
  margin-bottom: 20px; 
}

.copies-input {
  width: 100px;
  height: 25px; 
  margin-right: 10px; 
}

.action-button {
  width: 150px; 
  height: 40px; 
}


.action-button:hover {
  background-color: #d3d3d3; 
  color: #000; 
}

