#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-align: left; */
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
}

h1 {
  /* color: #6c5ce7; */
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

h1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 .icon {
  margin-right: 10px;
  margin-top: 9px;
  font-size: 1.1em;
  color: #6c5ce7;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

h1:hover .icon {
  transform: rotate(20deg) scale(1.2);
  color: #a29bfe;
}

h1 .title {
  flex-grow: 1;
}

.library-container {
  max-width: auto;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.library-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}


.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #6c5ce7;
}

.network-error {
  margin: 20px 0;
  padding: 10px;
  background-color: #f1c40f;
  border-radius: 8px;
  text-align: center;
}

.no-network-error {
  margin: 20px 0;
  padding: 10px;
  background-color: #6c5ce7; 
  color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.metaMask-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.metaMask-container p {
  font-size: 1.2rem;
  margin-right: 10px;
}

.metaMask-container button {
  display: flex;
  align-items: center;
  background-color: #6c5ce7;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.metaMask-container button:hover {
  background-color: #4a3c8c;
}

.section {
  margin-top: 40px;
}

.h2{
  font-size: 1.7rem;
  font-weight: bold ;
  /* margin-bottom: 20px; */
  color: #6c5ce7;
  text-align: center;
}


.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6c5ce7;
  text-align: center;
}

.action{
  margin-bottom: 3px;
  
}

.action-button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin: 10px 0 20px 0; 
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #4a3c8c;
}


.add-book-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.add-book-form .MuiTextField-root {
  margin-right: 10px;
}

.book-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.book-actions .MuiTextField-root {
  margin-right: 10px;
}

.borrowed-books {
  margin-top: 20px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}



.book-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.image-section {
  margin-right: 20px;
}

.book-photo {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

.book-details {
  flex-grow: 1;
}



.extra-details {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center; 
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .extra-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  } */


.extra-details .detail-item {
  flex: 1;
  padding: 0 10px;
  text-align: left;
}

.extra-details .detail-item:first-child {
  text-align: left;
}

.extra-details .detail-item:last-child {
  text-align: right;
}

.extra-details .detail-label {
  font-weight: bold;
  color: #555;
}

.extra-details .detail-value {
  color: #333;
}

.left-column {
  flex-grow: 1;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  justify-content: center;
}

.rating {
  
}
